[submodule "server/www/assets/apexcharts.js"]
	path = server/www/assets/apexcharts.js
	url = https://github.com/apexcharts/apexcharts.js.git
[submodule "server/www/assets/bootstrap"]
	path = server/www/assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "server/www/assets/daterangepicker"]
	path = server/www/assets/daterangepicker
	url = https://github.com/dangrossman/daterangepicker.git
[submodule "server/www/assets/moment"]
	path = server/www/assets/moment
	url = https://github.com/moment/moment.git
[submodule "server/www/assets/Font-Awesome"]
	path = server/www/assets/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
