[submodule "server/frontend/public/assets/daterangepicker"]
	path = server/frontend/public/assets/daterangepicker
	url = https://github.com/dangrossman/daterangepicker.git
[submodule "server/frontend/public/assets/apexcharts.js"]
	path = server/frontend/public/assets/apexcharts.js
	url = https://github.com/apexcharts/apexcharts.js.git
[submodule "sketch_timecube/arduino"]
	path = firmware/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
