[submodule "server/frontend/public/assets/bootstrap"]
	path = server/frontend/public/assets/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "server/frontend/public/assets/daterangepicker"]
	path = server/frontend/public/assets/daterangepicker
	url = https://github.com/dangrossman/daterangepicker.git
[submodule "server/frontend/public/assets/moment"]
	path = server/frontend/public/assets/moment
	url = https://github.com/moment/moment.git
[submodule "server/frontend/public/assets/Font-Awesome"]
	path = server/frontend/public/assets/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "server/frontend/public/assets/apexcharts.js"]
	path = server/frontend/public/assets/apexcharts.js
	url = https://github.com/apexcharts/apexcharts.js.git
[submodule "sketch_timecube/arduino"]
	path = firmware/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
