<IfModule mod_rewrite.c>
	RewriteEngine on

	# disallow  config
	RewriteRule /?config.php$ - [F,L]

	# rewrite name to name/ (workaround for broken include)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^([^/]*)$ /$1/ [R=302,L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^([A-Fa-f0-9]{12})/?(.*)$ index.php?mac=$1&alias=$1&site=$2 [L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^([^/]*)/?(.*)$ index.php?alias=$1&site=$2 [L,QSA]
</IfModule>
